@import url('https://fonts.googleapis.com/css?family=Hind');
html, body {
  margin: 0;
  padding: 0;
  background: #000000e6;
  font-family: 'Hind', sans-serif;
}
.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.title {
  width: 300px;
  margin: auto;
  font-size: 86px;
  color: #ffff4b;
}
.container {
  font-size: 30px;
  display: flex;
  color: #fff;
}
.item1 {
  width: 25px;
}
.item2 {
  width: 275px;
  word-wrap: break-word;
}
a {
  font-size: 15px;
}
.link {
  width: 300px;
  text-align: center;
}
